*{
    box-sizing: border-box;
}

body{
    background-color: black;
}
/* Main containers Call-----------------------------------------------------------------------------*/
.container{
    width: 100%;
    height: 600px;
    border: 1px solid black;
}

.container > div{
    border: 1px solid black
}

.header, .footer{
    width: 100%;
    height: 90px;
    
}

.menu, .main, .sideview{
    float: left;
   
}

.menu{
    width: 18%;
    height: 500px;
    overflow: hidden;
}

.main{
    width: 70%;
    height: 500px;
    overflow: hidden;
    background-image: url("../assets/pergamena.jpg");
    background-repeat: no-repeat ;
    background-size: 105% 105%;
    background-position-x: -1.5rem;
    background-position-y: -1.1rem;
    border: 2px solid gold;
    border-radius: 25px;
    z-index: 2;
    
}

.sideview{
    width: 10%;
    height: 500px;
    overflow: hidden;
}
/*-----------------------------------------------HEADER----------------------------------------------*/
.header{
    background-color: black;
    color: green;
    text-align: center;
}

.header span{
    position: relative;
    top: 1.5rem;
    font-size: 3em;

}

#mainTitle{
    -webkit-background-clip:text;
    -moz-background-clip: text;
    background-clip: text;  
    text-shadow: 0px 0px 0px rgba(29, 183, 29, 0.5), 2px 0px 5px rgba(0, 0, 0, 0.8);
    color: transparent;
}

 span, img{
    float: left;
 }

 @keyframes dragons{
    from{transform:rotate(0deg)}
    to{transform: rotate(-360deg);}
 }

 .header img{
    height: 4rem;
    width: 4rem;
    margin-top: 0.7rem;
    transform: rotate(0deg);
    animation:dragons 5s linear 0s infinite;
    
    
 }
 #left{
    margin-left: 28%;
    margin-right: 10%;
 }

 #right{
    margin-left: 10%;
 }

 /*----------------------------------------------------------------------------------------------------
 /*---------------------------------------------MENU---------------------------------------------------*/
 .titles{
    box-sizing: border-box;
    background-color: linen;
    height: 5%;
    width: 70%;
    margin:auto;
    text-align: center;
    border-radius: 10%;
    color: orangered;
 }

 .text{
    color: green;
    text-decoration: none;
    
  }
  .firstletter{
    color: rgb(63, 206, 63);;
    
  }

 
 .menu span:hover{
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
 }

.line{
    margin-top: 0.5rem;
    width: 106%;
    height: 0.2%;
    background-color: rgb(63, 206, 63);
    opacity: 0.5;
    z-index: 0;
}

#red1, #red2, #red3{
    color:red
}

#blue1, #blue2{
    color: lightblue;
}

#orange1, #orange2{
    color:orange
}

#brown1, #brown2, #brown3{
    color:maroon ;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
   width: 12rem;
   height: 12rem;
   position: absolute;
   bottom: 0;
   left: 0.5rem;

   
   
   
}

/*-----------------------------------------------------------------------------------------------------
-----------------------------------------------MAIN--------------------------------------------------*/
.main{
    display: grid;
    grid-template-columns: auto;
}
.uppermain{
    grid-row-start: 1;
    grid-row-end: 5;
}
.fonts{
    display: grid;
    grid-template-columns: auto auto;
    grid-row-start: 5;
    grid-row-end: 6;
    border: 1px solid black;

}
.username {
    text-align: center;
    margin-left: 8rem;
}
.password {
    text-align: center;
    margin-right: 8rem;
}

